<div class="navbar">
  <a routerLink="/main/logged/customer/transfer">Transfer</a>          
  <a routerLink="/main/logged/customer/statement">DISPLAY STATEMENT</a>   
  <a routerLink="/main/unlogged/home">LOGOUT</a>        
</div>


<div  class="sidebar" >
    <h2 >NAME  {{cName}}</h2>
    <h2>ACCOUNT NO.  {{cAccNum}}</h2>
    <h2>BALANCE {{cBalance}}</h2>
</div>
  <br><br>  
      <div id="form-wrapper" style="max-width:500px;margin:auto;">  
        login succesfull
  <router-outlet></router-outlet>
</div>

